.vs_code
_site
.sass-cache
Gemfile.lock
*.gem
/resume/cv.log
/resume/cv.aux
/resume/cv.synctex.gz
/resume/cv.out
/resume/cv.synctex.gz
/resume/texput.log
/TO_DO.txt
/notebooks/.ipynb_checkpoints
