.vscode
_site
.sass-cache
Gemfile.lock
*.gem
assets/resume/cv.log
assets/resume/cv.aux
assets/resume/cv.synctex.gz
assets/resume/cv.out
assets/resume/cv.synctex.gz
assets/resume/texput.log
notebooks/.ipynb_checkpoints
notebooks/to_add/
