<span class="site-footer-credits">
	The full repository of this Github pages is available at
	<a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a>.
	Templates based from
	<a href="http://peterroelants.github.io/">peterroelants</a>.
</span>
<hr>
<span class="share-buttons">
	<ul class="share-buttons">
		<li>
			<a href="/resume/cv.pdf">
				<i class="far fa-file fa-1x" style="font-size:25px;"></i>
			</a>
		</li>
		<li>
			<a href="https://github.com/ltetrel/">
				<i class="fab fa-github fa-1x" style="font-size:25px;"></i>
			</a>
		</li>
		<li>
			<a href="mailto:loic.tetrel.pro@gmail.com">
				<i class="fas fa-at fa-1x" style="font-size:25px;"></i>
			</a>
		</li>
		<li>
			<a href="https://www.linkedin.com/in/loïc-tetrel">
				<i class="fab fa-linkedin fa-1x" style="font-size:25px;"></i>
			</a>
		</li>
	</ul>
</span>