---
layout: page
---

{{ content }}

{% assign categories_sorted = site.categories | sort %}
{% for category in categories_sorted %}
  <a class=category-ref href="#{{ category[0] | slugify }}"> {{ category[0] | slugify }} </a>
{% endfor %}

{% for category in categories_sorted %}
  <h2 id="{{ category[0] | slugify }}">
    {{ category[0] }}  <a class="anchor-link" href="#{{ category[0] | slugify }}"> &#182; </a> 
  </h2>
  {% for post in category[1] %}
    {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
    <ul class="post-list">
      {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
        {% include list-post.html %}
    </ul>
  {% endfor %}
{% endfor %}

<a href="{{ '/' | absolute_url }}"> Go to the Home Page</a>