<!DOCTYPE html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.10/require.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML"></script>
<script src="/script/input_exapand_collapse.js"></script>
<!-- MathJax configuration -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
	tex2jax: {
		inlineMath: [ ['$','$'], ["\\(","\\)"] ],
		displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
		processEscapes: true,
		processEnvironments: true
	},
	// Center justify equations in code and markdown cells. Elsewhere
	// we use CSS to left justify single line equations in code cells.
	displayAlign: 'center',
	"HTML-CSS": {
		styles: {
		'.MathJax_Display': {"margin": 0},
		},
		
		linebreaks: { automatic: true }
	}
});
</script>

<html lang="{{ site.lang | default: " en-US " }}">

<head>
	<meta charset="UTF-8"> {% seo %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#157878">
	<link rel="stylesheet" href="{{ '/assets/css/stylePost.css?v=' | append: site.github.build_revision | relative_url }}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
	 crossorigin="anonymous">
	<!-- <link rel="stylesheet" href="/script/font-awesome.min.css">  -->
</head>

<body>
	<section class="page-header">
		<h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
		<h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
		<a href="{{ '/' }}" class="btn">Home</a>
		<a href="{{ '/about.html' }}" class="btn">About the author</a>
	</section>

	<section class="main-content">
		{{ content }}
		<footer class="site-footer">
			{% include footer.html %}
		</footer>
	</section>

	{% if site.google_analytics %}
	<script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date(); a = s.createElement(o),
				m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', '{{ site.google_analytics }}', 'auto');
		ga('send', 'pageview');
	</script> {% endif %}
</body>

</html>